---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import qualityIcon from "../assets/quality_icon.svg";
import logoPlaceholderImage from "../assets/logoPlaceholderImage.png";
import Image from "astro/components/Image.astro";
import WorkInProgressDialog from "../components/WorkInProgressDialog.astro";
import "../style/global.css";
import ValueItem from "../components/ValueItem.astro";
---

<Layout title="RADOSLAV">
  <main>
    <!-- <Header /> -->
    <div id="work-in-progress-dialog">
      <WorkInProgressDialog />
    </div>
    <HeroSection />
    <div id="cooperation-section">
      <h2>Some of my clients</h2>
      <div id="cooperation-logo-container">
        <Image
          src={logoPlaceholderImage}
          alt="cooperation company logo"
          class="cooperation-company-logo"
        />
        <Image
          src={logoPlaceholderImage}
          alt="cooperation company logo"
          class="cooperation-company-logo"
        />
        <Image
          src={logoPlaceholderImage}
          alt="cooperation company logo"
          class="cooperation-company-logo"
        />
        <Image
          src={logoPlaceholderImage}
          alt="cooperation company logo"
          class="cooperation-company-logo"
        />
      </div>
    </div>
    <div id="about-section">
      <div>
        <h2>About me</h2>
        <p id="about-text">
          I’m a passionate and dedicated software developer specializing in
          mobile applications. With years of experience in building
          high-performance, user-friendly apps, I help businesses and
          individuals bring their ideas to life on mobile platforms. <br /><br
          />While mobile development is my core focus, I’m not afraid to explore
          new technologies and tools to ensure that the best solutions are
          delivered for each project. From backend systems to web-based
          applications, I embrace challenges that allow me to grow and expand my
          skill set. <br /><br />I believe in continuous improvement, not only
          for the products I create but also in the way I work and collaborate
          with clients. Every project is an opportunity to innovate, learn, and
          craft solutions that truly make a difference.
        </p>
      </div>
      <div id="value-container">
        <ValueItem
          icon={qualityIcon}
          title="Quality"
          text="I prioritize craftsmanship, focusing on building high-quality mobile applications with care. My approach ensures excellent performance, seamless user experience, and lasting value, rather than just quick project completion."
        />
        <ValueItem
          icon={qualityIcon}
          title="Trust"
          text="Open and transparent communication is at the heart of every project. We ensure that clients are informed at every stage, building a partnership based on honesty and reliability."
        />
        <ValueItem
          icon={qualityIcon}
          title="Flexibility"
          text="Each project is unique, and so are our solutions. We adapt to your specific needs, tailoring our approach to deliver exactly what you envision, no matter how complex or customized."
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  p {
    margin: 16px 0 16px 0;
  }

  #about-section {
    color: white;
    font-family: Montserrat, Helvetica, sans-serif;
  }

  #about-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  #value-container {
    display: grid;
    background: url("../assets/neon_bg_2.png");
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(1, minmax(200px, 300px));
    max-width: 100%;
    gap: 20px;
    padding: 30px 0;
  }

  @media only screen and (min-width: 1200px) {
    #value-container {
      grid-template-columns: repeat(3, minmax(250px, 280px));
      padding: 120px 0;
      gap: 10%;
    }
  }

  #cooperation-section {
    background-color: #282828;
    padding: 8px 0px;
  }

  h2 {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, sans-serif;
    color: white;
    width: 100%;
    text-align: center;
  }

  #cooperation-logo-container {
    max-width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
    justify-content: center;
    justify-items: center;
    padding: 10px;
  }

  .cooperation-company-logo {
    height: 40px;
    max-width: 100%;
    width: auto;
    box-sizing: border-box;
  }

  @media only screen and (min-width: 768px) {
    #cooperation-logo-container {
      grid-template-rows: 60px;
      overflow: hidden;
      padding: 20px 20px;
      gap: 20px;
      grid-template-columns: repeat(2, minmax(200px, 300px));
    }
    .cooperation-company-logo {
      height: 40px;
      width: auto;
      max-width: none;
    }
  }
  @media only screen and (min-width: 1200px) {
    #cooperation-logo-container {
      grid-template-columns: repeat(4, minmax(200px, 300px));
    }
    .cooperation-company-logo {
      max-width: 100%; /* Content width will not exceed grid cell width */
      box-sizing: border-box; /* Includes padding within width */
    }
  }

  #work-in-progress-dialog {
    animation: 1s ease-out 0s 1 fadeIn;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    background:
      radial-gradient(
          circle at 100% 100%,
          #0b0b0b 0,
          #0b0b0b 10px,
          transparent 10px
        )
        0% 0%/12px 12px no-repeat,
      radial-gradient(
          circle at 0 100%,
          #0b0b0b 0,
          #0b0b0b 10px,
          transparent 10px
        )
        100% 0%/12px 12px no-repeat,
      radial-gradient(
          circle at 100% 0,
          #0b0b0b 0,
          #0b0b0b 10px,
          transparent 10px
        )
        0% 100%/12px 12px no-repeat,
      radial-gradient(circle at 0 0, #0b0b0b 0, #0b0b0b 10px, transparent 10px)
        100% 100%/12px 12px no-repeat,
      linear-gradient(#0b0b0b, #0b0b0b) 50% 50% / calc(100% - 4px)
        calc(100% - 24px) no-repeat,
      linear-gradient(#0b0b0b, #0b0b0b) 50% 50% / calc(100% - 24px)
        calc(100% - 4px) no-repeat,
      linear-gradient(90deg, #d60092 0%, #0094ff 100%);
    border-radius: 12px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: content-box;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  @media only screen and (min-width: 768px) {
    #work-in-progress-dialog {
      position: absolute;
      align-self: center;
      left: 50%;
      top: 5%;
      transform: translate(-50%, 0%);
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
